In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
data=pd.read_csv("ReportIDSup1.csv")

In [5]:
data.head()

   ReportID SalesPersonID ProductID  Quantity  TotalSalesValue     Suspicious
0  Rep26674        C22233    PR6210       108             1585  indeterminate
1  Rep50903        C21706    PR6648       357             7310  indeterminate
2  Rep46091        C21465    PR6353       547            33285  indeterminate
3  Rep48632        C21600    PR6582       113             1110  indeterminate
4  Rep20998        C22335    PR6297      5400            97845  indeterminate

In [7]:
data.shape

(42582, 6)

In [8]:
y=data["Suspicious"]
X=data.drop('Suspicious', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123,stratify=y)

In [9]:
X_train.head()

       ReportID SalesPersonID ProductID  Quantity  TotalSalesValue
18718  Rep32819        C21429    PR6367       180             1330
4392   Rep11949        C21829    PR6183      2130            39680
27638  Rep10785        C21976    PR6326       143             6955
15848  Rep38235        C21257    PR6628       194             2245
2700   Rep25546        C21974    PR6161       101             1050

In [10]:
X_train.shape

(29807, 5)

In [11]:
y_train.shape

(29807,)

In [12]:
X_train['Category']=y_train

/home/christopher/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
X_train.head()

,ReportID,SalesPersonID,ProductID,Quantity,TotalSalesValue,Category
18718,Rep32819,C21429,PR6367,180,1330,indeterminate
4392,Rep11949,C21829,PR6183,2130,39680,indeterminate
27638,Rep10785,C21976,PR6326,143,6955,indeterminate
15848,Rep38235,C21257,PR6628,194,2245,indeterminate
2700,Rep25546,C21974,PR6161,101,1050,indeterminate

In [15]:
ReportSalesTrain=X_train

In [19]:
ReportSalesTrain.to_csv("ReportSalesTrain.csv",index=False)

In [20]:
X_test.to_csv("ReportSalesTest.csv",index=False)

In [25]:
data2=pd.read_csv("mushrooms.csv")

In [26]:
data2.columns

Index([u'class', u'cap-shape', u'cap-surface', u'cap-color', u'bruises',
       u'odor', u'gill-attachment', u'gill-spacing', u'gill-size',
       u'gill-color', u'stalk-shape', u'stalk-root',
       u'stalk-surface-above-ring', u'stalk-surface-below-ring',
       u'stalk-color-above-ring', u'stalk-color-below-ring', u'veil-type',
       u'veil-color', u'ring-number', u'ring-type', u'spore-print-color',
       u'population', u'habitat'],
      dtype='object')

In [27]:
data2.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [28]:
data2.dtypes

class                       object
cap-shape                   object
cap-surface                 object
cap-color                   object
bruises                     object
odor                        object
gill-attachment             object
gill-spacing                object
gill-size                   object
gill-color                  object
stalk-shape                 object
stalk-root                  object
stalk-surface-above-ring    object
stalk-surface-below-ring    object
stalk-color-above-ring      object
stalk-color-below-ring      object
veil-type                   object
veil-color                  object
ring-number                 object
ring-type                   object
spore-print-color           object
population                  object
habitat                     object
dtype: object

In [31]:
y=data2["class"]
X=data2.drop('class', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123,stratify=y)

In [32]:
X_train['class']=y_train

/home/christopher/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
MushroomTrain=X_train

In [34]:
MushroomTrain.head()

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat,class
1287,f,s,g,f,n,f,w,b,h,t,...,w,w,p,w,o,e,k,s,g,e
6411,x,s,n,f,f,f,c,n,b,t,...,p,p,p,w,o,e,w,v,d,p
4564,x,y,y,f,f,f,c,b,g,e,...,b,n,p,w,o,l,h,y,p,p
3565,x,f,y,f,f,f,c,b,p,e,...,b,n,p,w,o,l,h,v,g,p
3892,x,f,g,f,f,f,c,b,g,e,...,n,b,p,w,o,l,h,v,g,p

In [36]:
MushroomTrain.to_csv("MushroomTrain.csv",index=False)

In [37]:
X_test.to_csv("MushroomTest.csv",index=False)

In [38]:
data3=pd.read_csv("Titanictrain.csv")
data4=pd.read_csv("TitanicTest.csv")

In [39]:
data3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [40]:
data3.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [44]:
data3.drop(["Name","Ticket","Cabin"],inplace=True,axis=1)
data4.drop(["Name","Ticket","Cabin"],inplace=True,axis=1)

In [47]:
data3.to_csv("TitanicTrainP.csv",index=False)
data4.to_csv("TitanicTestP.csv",index=False)